*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.nav{
    padding: 2px;
    display: flex;
    background: rgb(30, 30, 30);
}

.nav a{
    padding: 20px;
    color: white;
    text-decoration: none;
}

#test{
    padding: 50px;
}